{% extends 'base.html' %}
{% load static %}

{% block title %}
فراموشی رمز عبور
{% endblock %}
{% block header_refernce %}
<link rel="stylesheet" href="{% static 'css/email_authenticate.css' %}">
{% endblock %}

{% block content %}
    <div class="bg-img">
        <div class="content">
            <header>فعالسازی حساب کاربری</header>
            <form method="post" action="{% url 'authenticate_email' %}">
                {% csrf_token %}
                <div class="field">
                    <span class="fa fa-envelope"></span>
                    {{ authen_email_form.email }}
                    <div class="show">
                    <span class="fa fa-close" onclick="empty_input()"></span>
                    </div>
                </div>
                {% if authen_email_form.errors %}
                <div id="errors" class="alert-danger">
                {{ authen_email_form.email.errors }}
                </div>
                {% endif %}
                <div class="field button">
                    <button type="submit">ارسال کد فعالسازی</button>
{#                    <input type="submit" value="ارسال لینک بازیابی">#}
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if status %}
    <script >
        Swal.fire({
            title: '{{ title }}',
            text: "{{ text }}",
            icon: "warning",
            confirmButtonColor: "#3085d6",
            confirmButtonText: '{{confirmButtonText}}'
        }).then((result) => {
        });
    </script>
{% endif %}
    {% block footer_refernce %}
    <script>
    function empty_input() {
        let email_input= document.getElementById('email')
        email_input.value=""
    }
    </script>
    {% endblock %}
{% endblock %}

