{% extends 'base.html' %}
{% load static %}

{% block title %}
ثبت نام
{% endblock %}
{% block header_refernce %}
<link rel="stylesheet" href="{% static 'css/singup.css' %}" />
{% endblock %}

{% block content %}
    <div class="bg-img">
      <div class="content">
        <header>بازیابی کلمه عبور</header>
        <form method="post" action="{% url 'reset_pass_page' email_active_url %}">
        {% csrf_token %}
          <div class="field space">
            <span class="fa fa-lock"  ></span>
            {{ reset_pass.password }}
              <div class="show">
               <span class="fa fa-eye" onclick="showpass(this)"></span>
              </div>
          </div>
            <div class="field">
            <span class="fa fa-lock"></span>
            {{ reset_pass.confirm_password }}

          </div>
            {% if reset_pass.errors %}
                <div id="errors" class="alert-danger">
                {{ reset_pass.email.errors }}
                </div>
            {% endif %}
          <div class="field" id="button">
            <button type="submit">تأیید</button>
          </div>
        </form>
      </div>
    </div>
{% endblock %}
{% block footer_refernce %}
    <script>
    function showpass(element) {
        const pass_field = document.querySelector(".pass-key");
        if (pass_field.type === "password") {
            pass_field.type = "text";
            element.classList.remove("fa-eye");
            element.classList.add("fa-eye-slash");
        } else {
            pass_field.type = "password";
            element.classList.remove("fa-eye-slash");
            element.classList.add("fa-eye");
        }
    }

    </script>
{% endblock %}
